<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>萌趣医院</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <style>
        html, body {
            -ms-touch-action: none;
            background: #888888;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>
</head>

<body>

    <script>
        function loadScript(list, callback) {
            var loaded = 0;
            var loadNext = function () {
                loadSingleScript(list[loaded], function () {
                    loaded++;
                    if (loaded >= list.length) {
                        callback();
                    }
                    else {
                        loadNext();
                    }
                })
            };
            loadNext();
        };

        function loadSingleScript(src, callback) {
            var s = document.createElement('script');
            s.async = false;
            s.src = src;
            s.addEventListener('load', function () {
                s.parentNode.removeChild(s);
                s.removeEventListener('load', arguments.callee, false);
                callback();
            }, false);
            document.body.appendChild(s);
        };

        function ajax(){ 
        var ajaxData = { 
            type:arguments[0].type || "GET", 
            url:arguments[0].url || "", 
            async:arguments[0].async || "true", 
            data:arguments[0].data || null, 
            dataType:arguments[0].dataType || "text", 
            contentType:arguments[0].contentType || "application/x-www-form-urlencoded", 
            beforeSend:arguments[0].beforeSend || function(){}, 
            success:arguments[0].success || function(){}, 
            error:arguments[0].error || function(){} 
        } 
        ajaxData.beforeSend() 
        var xhr = createxmlHttpRequest();  
        xhr.responseType=ajaxData.dataType; 
        xhr.open(ajaxData.type,ajaxData.url,ajaxData.async);  
        xhr.setRequestHeader("Content-Type",ajaxData.contentType);  
        xhr.send(convertData(ajaxData.data));  
        xhr.onreadystatechange = function() {  
            if (xhr.readyState == 4) {  
            if(xhr.status == 200){ 
                ajaxData.success(xhr.response) 
            }else{ 
                ajaxData.error() 
            }  
            } 
        }  
        } 
        
        function createxmlHttpRequest() {  
        if (window.ActiveXObject) {  
            return new ActiveXObject("Microsoft.XMLHTTP");  
        } else if (window.XMLHttpRequest) {  
            return new XMLHttpRequest();  
        }  
        } 
        
        function convertData(data){ 
        if( typeof data === 'object' ){ 
            var convertResult = "" ;  
            for(var c in data){  
            convertResult+= c + "=" + data[c] + "&";  
            }  
            convertResult=convertResult.substring(0,convertResult.length-1) 
            return convertResult; 
        }else{ 
            return data; 
        } 
        }
        window.onerror = function(msg,url,line,col,error) {
            // 直接将错误打印到控制台
            var userInfo=Main.pushError(userInfo+": line:"+line+" "+col+ " url:"+url+" msg:"+msg+" error:"+error);
            // console.log("error:",(userInfo+": line:"+line+" "+col+ " url:"+url+" msg:"+msg+" error:"+error));
            // ajax({ 
            //     type:"GET", 
            //     url:"https://pocket.lotiyo.cn/catcherror"+escape(userInfo+": line:"+line+" "+col+ " url:"+url+" msg:"+msg+" error:"+error), 
            //     dataType:"text", 
            //     data:{}, 
            //     beforeSend:function(){ 
            //         //some js code 
            //     }, 
            //     success:function(msg){ 
            //         console.log(msg) 
            //     }, 
            //     error:function(){ 
            //         console.log("error") 
            //     } 
                // })
        }


        window.onload = function () {
            let egretDiv = document.createElement('div');
            egretDiv.innerHTML = "<div style='margin: auto;width: 100%;height: 100%;' class=egret-player data-entry-class=Main data-orientation=auto data-scale-mode=" + (ispc() ? "showAll" : "fixedWidth") + " data-frame-rate=60 data-content-width=720 data-content-height=1280 data-show-paint-rect=false data-multi-fingered=2 data-show-fps=true data-show-log=false data-show-fps-style=x:0,y:0,size:12,textColor:0xffffff,bgAlpha:0.9></div>";
            document.body.appendChild(egretDiv);

            //开始加载js和白鹭
            var xhr = new XMLHttpRequest();
            xhr.open('GET', './manifest.json?v=' + Math.random(), true);
            xhr.addEventListener("load", function () {
                var manifest = JSON.parse(xhr.response);
                var list = manifest.initial.concat(manifest.game);
                loadScript(list, function () {
                    /**
                     * {
                     * "renderMode":, //Engine rendering mode, "canvas" or "webgl"
                     * "audioType": 0 //Use the audio type, 0: default, 2: web audio, 3: audio
                     * "antialias": //Whether the anti-aliasing is enabled in WebGL mode, true: on, false: off, defaults to false
                     * "calculateCanvasScaleFactor": //a function return canvas scale factor
                     * }
                     **/
                    egret.runEgret({
                        renderMode: "webgl", audioType: 0, calculateCanvasScaleFactor: function (context) {
                            var backingStore = context.backingStorePixelRatio ||
                                context.webkitBackingStorePixelRatio ||
                                context.mozBackingStorePixelRatio ||
                                context.msBackingStorePixelRatio ||
                                context.oBackingStorePixelRatio ||
                                context.backingStorePixelRatio || 1;
                            return (window.devicePixelRatio || 1) / backingStore;
                        }
                    });
                });
            });
            xhr.send(null);
        }
        ////判断客户端类型
        function ispc() {
            var _userAgent = navigator.userAgent.toLowerCase();
            var agents = ["android", "iphone", "symbianos", "windows phone", "ipad", "ipod"];
            var _ispc = true;
            for (var v = 0; v < agents.length; v++) {
                if (_userAgent.indexOf(agents[v]) != -1) {
                    _ispc = false;
                    break;
                }
            }
            return _ispc;
        }
    </script>
</body>

</html>